body{
  display: inline;
  width: 100%;
  height: 100%;
}
#homecontainer {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    margin-top: 2%;
    border: 3px solid #73AD21;
    box-shadow: 10px 10px 16px #000000;
    border-radius: 25px;
    overflow: hidden;
  }
#header{
  position: relative;
  width: 100%;
  height: 10%;
}
ul#ulist1 {
  padding: 8px 16px;
  list-style: none;
  float: right;
}

ul#ulist1 li {display: inline;}

ul#ulist1 li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul#ulist1 li a {color: green;}
/*#ulist1 {
  list-style-type: none;
}
.list1 {
  float: right
}*/
#about {
  position: relative;
  width: 55%;
  height: 80%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6%;
}
#about h3 {
  position: relative;
  width: 34%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 224, 166); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
button{
  width: 20%;
  height: 14%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px #000000;
  border-color: #5b6af3e5;
  
}
button:hover {background-color: #d05bf3e5}
button:active {
  background-color: #5b98f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#aboutme{
  position: relative;
  margin-top: 3%;
  left: 20%;
  width: 70%;
  height: 30%;
  display: none;
  border-style: groove;
  box-shadow: 5px 5px 18px #000000;
  border-radius: 13px;
  transition: width 700ms;
}
#aboutme:hover{
  width: 72%;
  height: 32%;
}

#image {
    position: relative;
    text-align: center;
    width: 45%;
    height: 80%;
    float: right;
    padding-top: 6%;
}
#myimage{
  width: 50%;
  height: 70%;
  border-radius: 50%;
  box-shadow: rgb(221 102 18 / 87%) 0px 4px 8px 0px, rgb(255 1 1 / 65%) 0px 6px 20px 0px;
 
}

#skillcontainer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  /*margin-top: 47%;*/
  border: 3px solid #73AD21;
  box-shadow: 10px 10px 16px #000000;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
}
#mainskill{
position: relative;
width: 75%;
height: 75%;
margin-left: 13%;
text-align: center;
margin-top: 3%;
}
#skillhead{
  position: relative;
  width: 100%;
  height: 10%;
}
#techskill{
  position: relative;
  width: 100%;
  height: 90%;
  float: left;
  padding-left: 5%;
}
.skills{
  position:relative;
  width:20%;
  height:30%;
  margin-inline: 6px;
  border-style: groove;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes change {
  0% {background-color: rgb(206, 253, 238);}
  50% {background-color: rgba(64, 175, 248, 0.884);}
  100% {background-color: rgb(244, 127, 255);}
}
.skillimage{
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 19%;
  width: 40%;
  height: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.skills:hover .skillimage {
  opacity: 0.2;
}

.skills:hover .middle {
  opacity: 1;
}

.text {
  background-color:  #a000c3;;
  color: white;
  font-size: 14px;
}
#ulist2{
  list-style-type: none;
}

#educationcontainer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  /*margin-top: 92%;*/
  border: 3px solid #73AD21;
  box-shadow: 10px 10px 16px #000000;
  border-radius: 25px;
  overflow: hidden;
}
#educontainer{
  position: relative;
  width: 75%;
  height: 80%;
  margin-left: 12%;
  text-align: center;
}
#college{
  position: relative;
  width: 41%;
  height: 99%;
  float: left;
  border-style: groove;
  border-color: aqua;
  border-radius: 20px;
  box-shadow: 10px 10px 16px #000000;
}
#college:hover{
  width: 43%;
  height: 100%;
  background: #eeacfd;
}
#hsc{
  position: relative;
  width: 40%;
  height: 99%;
  float: right;
  border-style: groove;
  border-color: aqua;
  border-radius: 20px;
  box-shadow: 10px 10px 16px #000000;
}
#hsc:hover{
  width: 42%;
  height: 100%;
  background: #eafcab;
}
#ssc{
  position: relative;
  width: 40%;
  height: 37%;
  margin-left: 30%;
  margin-top: 5%;
  border-style: groove;
  border-color: aqua;
  border-radius: 20px;
  box-shadow: 10px 10px 16px #000000;
}
#ssc:hover{
  width: 42%;
  height: 38%;
  background: #e7c094;
}
#projectcontainer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  /*margin-top: 137%;*/
  border: 3px solid #73AD21;
  box-shadow: 10px 10px 16px #000000;
  border-radius: 25px;
  overflow: hidden;
}
#mainproject{
  position: relative;
  width:80%;
  height:87%;
  margin-left: 10%;
}
.row1{
  display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
  position: relative;
  width: 95%;
  height: 48%;

}
.project{
  position: relative;
  width: 40%;
  height: 96%;
  border-style: groove;
  padding-right: 9px;
    
}
.textbox{
  width: 50%;
  height: 100%;
  text-align: justify;
  float: right;
}
#contactcontainer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  /*margin-top: 182%;*/
  border: 3px solid #73AD21;
  box-shadow: 10px 10px 16px #000000;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
}
#contacthead{
  position: relative;
  width: 100%;
  height: 20%;
}
#contactinfo{
  position: relative;
  width: 100%;
  height: 45%;
}
#icons{
  position: relative;
  width: 100%;
  height: 35%;
}
#btn2, #btn3, #btn4{
  width: 5%;
  height: 34%;
  margin-inline: 2%
}
#icon1, #icon2, #icon3{
  width: 100%;
  height: 100%;
  
}
