body{
  display: inline;
  width: 100%;
  height: 100%;
}
#homecontainer {
    position: absolute;
    /* left: 5%; */
    width: 100%;
    height: 100%;
    /* margin-top: 2%;
    border: 3px solid #73AD21;
    box-shadow: 10px 10px 16px #000000;
    border-radius: 25px;
    overflow: hidden; */
  }
#header{
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 1;
  padding-top: 0.3%;
  border-bottom-style: groove;
    background: aquamarine;
}
ul#ulist1 {
  padding: 8px 16px;
  list-style: none;
  float: right;
  width: 50%;
}

ul#ulist1 li {display: inline;}
#ulist1 button{
  width: 17%;
  border-radius: 8px;
  margin-inline: 1%;
}

ul#ulist1 li+li:before {
  padding: 8px;
  color: black;

}
/* home box*/
#info{
  position: relative;
  width: 100%;
  height: 100%;
  background: aliceblue;
  /* margin-left: 5%; */
  /*border-style: groove;
  box-shadow: 5px 5px 18px #000000;
  border-radius: 13px;*/
}
#about {
  position: relative;
  width: 55%;
  height: 80%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6%;
}
#about h3 {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 224, 166); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
button{
  width: 20%;
  height: 14%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px #000000;
  border-color: #5b6af3e5;
  
}
button:hover {background-color: #d05bf3e5}
button:active {
  background-color: #5b98f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#aboutme{
  position: relative;
  margin-top: 3%;
  left: 20%;
  width: 70%;
  height: fit-content;
  display: none;
  border-style: groove;
 
  border-radius: 13px;
  transition: width 700ms;
}
#aboutme:hover{
  width: 72%;
}

#image {
    position: relative;
    text-align: center;
    width: 45%;
    height: 80%;
    float: right;
    padding-top: 6%;
}
#myimage{
  width: 50%;
  height: 90%;
  border-radius: 50%;
  box-shadow: rgb(221 102 18 / 87%) 0px 4px 8px 0px, rgb(255 1 1 / 65%) 0px 6px 20px 0px;
 
}
/* skill box*/
#mainskill{
position: relative;
width: 100%;
height: 100%;
background: cornsilk;
padding-top: 0.3%;
/* margin-left: 6%; */
text-align: center;
/*border-style: groove;
border-radius: 25px;
box-shadow: 5px 5px 18px #000000;*/
}
#skillhead{
  position: relative;
  width: 100%;
  height: 10%;
}
#techskill{
  position: relative;
  width: 100%;
  height: 90%;
  float: left;
  padding-left: 10%;
 
}
.skills{
  position:relative;
  width:20%;
  height:30%;
  margin-inline: 6px;
  border-style: groove;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 10px;
}
@keyframes change {
  0% {background-color: rgb(206, 253, 238);}
  50% {background-color: rgba(64, 175, 248, 0.884);}
  100% {background-color: rgb(244, 127, 255);}
}
.skillimage{
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 18%;
  left: 20%;
  width: 40%;
  height: 35%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.skills:hover .skillimage {
  opacity: 0.2;
}

.skills:hover .middle {
  opacity: 1;
}

.text {
  background-color:  #a000c3;;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
#ulist2{
  list-style-type: none;
}
/* education box*/
#educontainer{
  position: relative;
  width: 100%;
  height: 100%;
  background: aliceblue;
  padding-top: 0.3%;
  /* margin-left: 5%; */
  text-align: center;
  /*border-style: groove;
  box-shadow: 5px 5px 18px #000000;
  border-radius: 25px;*/
}
.educontent {
  position: relative;
  width: 100%;
  padding-left: 6%;
}

.education-box {
  padding: 5px;
  width: 40%;
  min-height: 150px;
  position: relative;
  /* left: 5%; */
  text-align: right;
}

/* .timeline-box::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 25%;
  border-radius: 50%;
  z-index: 1;
} */

.education-box:nth-child(2n) {
  left: 53%;
}

.education-box:nth-child(2n+1)::after {
  right: -11.8%;
}

.education-box:nth-child(2n)::after {
  left: -9%;
}

.education-container {
  padding: 8px;
}


#education-divider {
  position: absolute;
  width: 0;
  top: 10%;
  left: 50%;
  border: 1px dashed #fa00006b;
  height: 80%;
  color: #433E3F;
}

#education-divider .education-traveller {
  position: sticky;
  top: 135px;
  z-index: 2;
}

#education-divider i {
  transform: rotate(90deg);
  margin-top: -28px;
  display: block;
  color: #f70000;
}


/* project box*/
#mainproject{
  position: relative;
  width: 100%;
    height: 100%;
    background: cornsilk;
    padding-top: 0.3%;
    /* margin-left: 5%; */
    /*border-style: groove;
    border-radius: 25px;
    box-shadow: 5px 5px 18px #000000;*/
}
.row1{
  display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
  position: relative;
  width: 95%;
  height: 48%;

}
.project{
  position: relative;
  width: 40%;
  height: 94%;
  border-style: groove;
  box-shadow: 5px 5px 18px #000000;
  border-radius: 20px;
    
}
.textbox{
  width: 60%;
  height: 100%;
  color: aqua;
  background: blueviolet;
  text-align: justify;
  float: right;
  padding: 3px;
  border-style: groove;
  transition: .5s ease;
  opacity: 0;
  border-radius: 17px;
}
#project1:hover #textbox1 {
  opacity: 1;
}
#project2:hover #textbox2 {
  opacity: 1;
}
#project3:hover #textbox3 {
  opacity: 1;
}
#project4:hover #textbox4 {
  opacity: 1;
}
.project p{
  position: relative;
  width: 100%;
  height: 47%;
}
.icons{
  text-align: center;
}
/* contact box*/
#contacthead{
  position: relative;
  width: 100%;
    height: 100%;
    background: aliceblue;
    padding-top: 0.3%;
    /* margin-left: 5%; */
    /*border-style: groove;
    border-radius: 25px;
    box-shadow: 5px 5px 18px #000000;*/
  text-align: center;
}
#contactinfo{
  position: relative;
  width: 100%;
  height: 45%;
}
#icons{
  position: relative;
  width: 100%;
  height: 35%;
}
#btn2, #btn3, #btn4{
  width: 5%;
  height: 34%;
  margin-inline: 2%
}
#icon1, #icon2, #icon3{
  width: 100%;
  height: 100%;
  
}
